@using System.Security.Claims
@model List<Oishi.Shared.ViewModels.Advertisement.AdvertisementViewModel>

<h1>Search Results</h1>

@if (Model.Count == 0)
{
    <p>No results found.</p>
}
else
{
    <p>Showing @Model.Count results:</p>

    <ul>
        @foreach (var advertisement in Model)
        {
            <div class="col-sm-6 col-lg-3">
                <div class="product mb-0">
                    <div class="product-thumb-info border-0 mb-3">
                        <!-- BADGE -->
                        <div class="product-thumb-info-badges-wrapper">
                            <span class="badge badge-ecommerce badge-success">DESTACADO</span>

                        </div>
                        <!-- IMAGE -->
                        <a href="shop-product-sidebar-left.html">
                            <div class="product-thumb-info-image">
                                <img alt="" class="img-fluid" src="https://www.okler.net/previews/porto/9.9.2/img/products/product-grey-1.jpg">
                            </div>
                        </a>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div>
                            <!-- CATEGORY -->
                            <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">@advertisement.SubCategoryDescription</a>
                            <!-- TITLE -->
                            <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">@advertisement.Title</a></h3>
                        </div>
                        <!-- ADD TO FAVOURITES -->
                       @* @if (User.Claims.Any(x => x.Type == ClaimTypes.NameIdentifier))
                        {
                            <a onclick="javascript:ToggleFavorite(@(advertisement.Id))" class="text-decoration-none text-color-default text-color-hover-dark text-4" style="cursor:pointer;"><i id="advertisement@(advertisement.Id)favicon" class="@(advertisement.Favorites.Any() ? "fa-solid" : "far") fa-heart" style="color:red;"></i></a>
                        }*@
                    </div>
                    <p class="price text-5 mb-3">
                        <span class="sale text-color-dark font-weight-semi-bold">@advertisement.Price €</span>
                    </p>
                </div>
            </div>
            @*<li>
    <h2>@advertisement.Title</h2>
    <p><strong>Price:</strong> @advertisement.Price</p>
    </li>*@
        }
    </ul>
}

@section scripts{
    <script src="/js/views/advertisement/list.js"></script>
}